@using PinPoint.Models.PainEntries
@model PainEntryDetailsVM

@{
    ViewData["Title"] = "Pain Entry Details";
}

<h1>Pain Entry Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryTime)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.SymptomName)
        </dd>
        <dt class="col-sm-2">
            @if (!string.IsNullOrWhiteSpace(Model.SymptomName))
            {
                <span class="badge bg-primary">@Model.SymptomName</span>
            }
            else
            {
                <span class="text-muted">No symptom recorded</span>
            }
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PainIntensity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PainIntensity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PainDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PainDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivitiesBeforePain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivitiesBeforePain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReliefMethodsTried)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReliefMethodsTried)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReliefEffectiveness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReliefEffectiveness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalNotes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
